{% extends 'base.html'%}
{% load static %}
{% block content%}


<div class="row design9">
    <div class="col-lg-12">
        <h1>Blogs Details</h1>

    </div>
</div>

<!-- row end -->
 <div class="row">
    <div class="col-lg-8">
        <img src="/media/{{ b.photo }} w-100" style="height: 400px;">
        <p>Beauty Salon | by: {{ b.postby }}
            | {{ b.created_at }}
        </p>
        <h1>{{ b.title }}</h1>
        <p>{{ b.desription }}</p>
        <p>{{b.content|safe }}</p>
        

    </div>
 </div>
{% endblock %}