{% extends 'base.html'%}
{% load static %}
{% block content%}
<div class="row text-center"style="background-color:white">
    <div class="maker1 col-lg-4">
       <img src="{% static 'image/p1.jpg'%}" class="d-block w-100" alt="..." height="350px">
       <p>Kerastase Première Anti-Frizz Filler Ser.</p>
       <h6>₹4,600</h6>
       <button type="submit" class="stay">Subscribe</button>
    </div>
    <div class="col-lg-4">
        <img src="{% static 'image/p2.jpeg'%}" class="d-block w-100" alt="..." height="350px">
        <p>Kerastase Première Anti-Breakage & Repai.</p>
        <h6>₹4,600</h6>
        <button type="submit" class="stay">Subscribe</button>
     </div>
     <div class="col-lg-4">
        <img src="{% static 'image/p3.jpg'%}" class="d-block w-100" alt="..." height="350px">
        <p>Kerastase Première Decalcifying & Repair..</p>
        <h6>₹3400</h6>
        <button type="submit" class="stay">Subscribe</button>
     </div>
</div>
<!-- row end -->
<div class="row make1 text-center"style="background-color:white">
    <div class="maker1 col-lg-4">
       <img src="{% static 'image/p4.jpg'%}" class="d-block w-100" alt="..." height="350px">
       <p>Kerastase SYMBIOSE ANTI-DANDRUFF SERUM 9...</p>
       <h6>₹5,100</h6>
       <button type="submit" class="stay">Subscribe</button>
    </div>
    <div class="col-lg-4">
        <img src="{% static 'image/p5.jpg'%}" class="d-block w-100" alt="..." height="350px">
        <p>Kerastase SYMBIOSE PURETÉ SHAMPOO 250ML</p>
        <h6>₹2,800</h6>
        <button type="submit" class="stay">Subscribe</button>
     </div>
     <div class="col-lg-4">
        <img src="{% static 'image/6.jpeg'%}" class="d-block w-100" alt="..." height="350px">
        <p>Kerastase SYMBIOSE CRÈME SHAMPOO 250ML</p>
        <h6>₹2,800</h6>
        <button type="submit" class="stay">Subscribe</button>
     </div>
</div>
<!-- row end -->
<div class="row make1 text-center"style="background-color:white">
    <div class="maker1 col-lg-4">
       <img src="{% static 'image/7.jpg'%}" class="d-block w-100" alt="..." height="350px">
       <p>Kerastase Specifique POTENTIALISTE SERUM..</p>
       <h6>₹5,600</h6>
       <button type="submit" class="stay">Subscribe</button>
    </div>
    <div class="col-lg-4">
        <img src="{% static 'image/8.jpg'%}" class="d-block w-100" alt="..." height="350px">
        <p>Kerastase Specifique HYDRA APAISANT MASK..</p>
        <h6>₹3,750</h6>
        <button type="submit" class="stay">Subscribe</button>
     </div>
     <div class="col-lg-4">
        <img src="{% static 'image/9.jpeg'%}" class="d-block w-100" alt="..." height="350px">
        <p>Kerastase Specifique RICHE DERMO SHAMPOO.</p>
        <h6>₹2,800</h6>
        <button type="submit" class="stay">Subscribe</button>
     </div>
</div>
<!-- row end -->
<div class="row make1 text-center"style="background-color:white">
    <div class="maker1 col-lg-4">
       <img src="{% static 'image/n1.jpg'%}" class="d-block w-100" alt="..." height="350px">
       <p>Kerastase Specifique POTENTIALISTE SERUM..</p>
       <h6>₹5,600</h6>
       <button type="submit" class="stay">Subscribe</button>
    </div>
    <div class="col-lg-4">
        <img src="{% static 'image/n2.jpg'%}" class="d-block w-100" alt="..." height="350px">
        <p>Kerastase Specifique HYDRA APAISANT MASK..</p>
        <h6>₹3,750</h6>
        <button type="submit" class="stay">Subscribe</button>
     </div>
     <div class="col-lg-4">
        <img src="{% static 'image/n3.jpg'%}" class="d-block w-100" alt="..." height="350px">
        <p>Kerastase Specifique RICHE DERMO SHAMPOO.</p>
        <h6>₹2,800</h6>
        <button type="submit" class="stay">Subscribe</button>
     </div>
</div> 
<!-- row end -->
<div class="row make1 text-center"style="background-color:white">
    <div class="maker1 col-lg-4">
       <img src="{% static 'image/n4.jpg'%}" class="d-block w-100" alt="..." height="350px">
       <p>Kerastase Specifique POTENTIALISTE SERUM..</p>
       <h6>₹5,600</h6>
       <button type="submit" class="stay">Subscribe</button>
    </div>
    <div class="col-lg-4">
        <img src="{% static 'image/n5.jpg'%}" class="d-block w-100" alt="..." height="350px">
        <p>Kerastase Specifique HYDRA APAISANT MASK..</p>
        <h6>₹3,750</h6>
        <button type="submit" class="stay">Subscribe</button>
     </div>
     <div class="col-lg-4">
        <img src="{% static 'image/n7.jpg'%}" class="d-block w-100" alt="..." height="350px">
        <p>Kerastase Specifique RICHE DERMO SHAMPOO.</p>
        <h6>₹2,800</h6>
        <button type="submit" class="stay">Subscribe</button>
     </div>
</div>














{% endblock %}