{% extends 'base.html'%}
{% load static %}
{% block content%}

<div class=" non7 row">
    <div class="col-lg-12">
        <h1 class="basic4">Locate Us</h1>

    </div>

</div>
<!-- row end -->
 <div class="row pt-4 mb-2 maker1">
    <div class="col-lg-12 text-center">
        <h1>Hyderabad</h1>

    </div>
 </div>
 <!-- row end -->
    <div class=" maker3 row justify-content-center box maker1" style="gap: 20px;">
        
        <div class=" col-lg-3 card">
            <div class="card-body">
              <h5 class="card-title">Kokapet</h5>
              <h6 class="card-subtitle mb-2 text-muted">juicesalonkokapet2323@gmail.com</h6>
              <p class="card-text">H.no: 7-90/5, plot no: 93/part, Brindavan colony, Narsingi, Gandipet Mandal, Rangareddy, Telengana 500075. Beside cafe sandwichco.</p>
              <a href="#" class="card-link">Get Direction</a>
              <a href="/bookappointment" class="card-link">Book Now</a>
            </div>
          </div>
          <div class=" col-lg-3 card" >
            <div class="card-body">
              <h5 class="card-title">Khajaguda</h5>
              <h6 class="card-subtitle mb-2 text-muted">juicesalonkhajaguda@gmail.com</h6>
              <p class="card-text">1st floor, Deva’s Manor Opp Ratnadeep super market Khajaguda 500008.</p>
              <a href="#" class="card-link">Get Direction</a>
              <a href="/bookappointment" class="card-link">Book Now</a>
            </div>
          </div>
          <div class=" col-lg-3 card" >
            <div class="card-body">
              <h5 class="card-title">HiTech City</h5>
              <h6 class="card-subtitle mb-2 text-muted">surajharjani@yahoo.com</h6>
              <p class="card-text">15/1, Bullet King Complex, Ground Floor, Hitech City Main Rd, opp. Cyber Pearl, Madhapur, Telangana 500081.</p>
              <a href="#" class="card-link">Get Direction</a>
              <a href="/bookappointment" class="card-link">Book Now</a>
            </div>
          </div>
          <div class=" col-lg-3 card" >
            <div class="card-body">
              <h5 class="card-title">Film nagar</h5>
              <h6 class="card-subtitle mb-2 text-muted">surajharjani@yahoo.com</h6>
              <p class="card-text">Address: Plot No 28, Road No. 92, MLA Colony, Filmnagar, Jubilee Hills, Hyderabad, Telangana 500033.</p>
              <a href="#" class="card-link">Get Direction</a>
              <a href="/bookappointment" class="card-link">Book Now</a>
            </div>
          </div>
          <div class=" col-lg-3 card" >
            <div class="card-body">
              <h5 class="card-title">Kondapur</h5>
              <h6 class="card-subtitle mb-2 text-muted">juicesalon.kondapur@gmail.com</h6>
              <p class="card-text">Address : Plot .no 63, Survey No.191, DCL Layout, Camelot Layout, Serilingampalli, Kondapur, Hyderabad, Telangana 500084.</p>
              <a href="#" class="card-link">Get Direction</a>
              <a href="/bookappointment" class="card-link">Book Now</a>
            </div>
          </div>
          <div class=" col-lg-3 card" >
            <div class="card-body">
              <h5 class="card-title">Jubilee Hills</h5>
              <h6 class="card-subtitle mb-2 text-muted">surajharjani@yahoo.com</h6>
              <p class="card-text">Plot No, 270 N, Road Number 10, opp. Karur Vysa Bank, Jubilee Hills, Hyderabad, Telangana 500033.</p>
              <a href="#" class="card-link">Get Direction</a>
              <a href="/bookappointment" class="card-link">Book Now</a>
            </div>
          </div>
    </div>      



































{% endblock %}