{% extends 'base.html'%}
{% load static %}
{% block content%}

<div class="row">
    <div class="col-lg-12">
        <img src="{% static 'image/fran.jpg'%}" alt="img" width="100%" height="400px">
      

    </div>

</div>
<!-- row end -->
 <div class="row pt-5">
    
    <div class="col-lg-6 maker1" style="padding-left: 30px;">
        <h1>What's J?</h1>
        <p class="pt-3">J is a promising, fashion forward brand that will make you feel comfortably stylish and enhance your salon experience.
            <br><br>

            At J, we excel in providing services to both men and women at the most affordable rates that also resonates with their personality.</p>
            <div class="row text-center pt-5"style="gap: 0px;">
                <div class="col-md-3 border mx-5" style="border-color: rgb(8, 0, 0);">
                    <h1>20+</h1>
                    <p>years experience</p>

                </div>
                <div class="col-md-3 border">
                    <h1>40+</h1>
                    <p>Salon Across India</p>

                </div>


            </div>
    </div>
    <div class="col-lg-6" style="padding-right: 30px;">
        <img src="{% static 'image/41.jpg'%}" alt="img" width="100%" height="400px">

    </div>

 </div>
 <!-- row end -->
  <div class="row pt-5">
    <div class="col-lg-12 text-center maker1">
        <h1>Why You Choose Us</h1>

    </div>

  </div>
  <!-- row end -->
   <div class="row pt-5 maker1">
    <div class="col-lg-4">
        <h4>Expensive services</h4>
        <p>Offering a wide range of professional beauty and grooming treatments
            to enhance the appearance, style, and overall well-being of our clients.</p>

    </div>

    <div class="col-lg-4">
        <h4>Moderatly price</h4>
        <p>We cater to individuals who seek professional finest grooming
            services while being mindful of their budget.</p>

    </div>

    <div class="col-lg-4">
        <h4>Fun and lovely salon experience</h4>
        <p>Characterized by an energetic and vibrant atmosphere, we make our
            clients feel relaxed, entertained, and excited.</p>

    </div>

   </div>
   <!-- row end -->
    <div class="row">
        <div class="col-lg-6">
            <iframe width="660" height="350" src="https://www.youtube.com/embed/SJxyvbK-rPg?si=FtrXBxlTiP9jP9M2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>
        <div class="col-lg-6">
            <iframe width="660" height="350" src="https://www.youtube.com/embed/d0z1GZOPvAU?si=WgHhAMll0wi5ufZ7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>

    </div>
    <!-- row end -->
     <div class="row maker1 text-center">
        <div class="col-lg-12">
            <h1>
                Featured Services
            </h1>


        </div>

     </div>
     <!-- row end -->
      <div class="row maker1 pt-5">
        <div class="col-lg-6">
            <img src="{% static 'image/11.jpg'%}" alt="img" width="100%" height="400px">

        </div>
     
            <div class="col-lg-6">
                <h1>hair services</h1>
                <p>At J Salon, we believe your hair is your crowning glory, and our expert stylists are dedicated to making it shine. Whether you're looking for a classic cut, a trendy style, or a complete transformation, our team has the skill and creativity to bring your vision to life. We specialize in precision cuts, vibrant colors, and personalized treatments to ensure your hair not only looks fabulous but also feels healthy and nourished. Step into our salon, and let us pamper your locks with the care they deserve.</p>
                <button class="btn btn-primary">Book Now</button>
            </div>

        
      </div>
      <!-- row end -->
      <div class="row maker1 pt-5">
        
     
            <div class="col-lg-6">
                <h1>Nails services</h1>
                <p>Indulge in a world of glamour and sophistication with J Salon's Nail Services. Our skilled technicians are artists at heart, turning your nails into canvases of self-expression. From classic manicures to intricate nail art, we offer a range of services to suit your style. Our commitment to quality extends to the products we use, ensuring your nails not only look stunning but also stay healthy and strong. Experience the perfect fusion of creativity and care at J Salon's Nail Services.</p>
                <button class="btn btn-primary">Book Now</button>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'image/223.jpg'%}" alt="img" width="100%" height="400px">
    
            </div>

        
      </div>
      <!-- row end -->
      <div class="row maker1 pt-5">
        <div class="col-lg-6">
            <img src="{% static 'image/231.jpg'%}" alt="img" width="100%" height="400px">

        </div>
     
            <div class="col-lg-6">
                <h1>MAkeup-services</h1>
                <p>Transform your look and enhance your natural beauty with J Salon's Makeup Services. Our talented makeup artists understand that every face tells a unique story, and we are here to bring yours to life. Whether it's a special occasion, a photo shoot, or simply a desire to feel glamorous, our team will tailor the perfect look for you. Using premium products and innovative techniques, we ensure a flawless finish that lasts throughout the day. Let J Salon be your beauty destination for unforgettable makeup experiences.</p>
                <button class="btn btn-primary">Book Now</button>
            </div>

        
      </div>
<!-- row end -->
    <div class="row maker1 pt-5">
    
 
        <div class="col-lg-6">
            <h1>Skin service</h1>
            
        <p>Radiant, healthy skin is the foundation of beauty, and at J Salon, we offer a range of Skin Services to nurture and rejuvenate your skin. From revitalizing facials to advanced skincare treatments, our estheticians are dedicated to helping you achieve a luminous complexion. We understand that each skin type is unique, so our services are personalized to address your specific needs. Step into our spa-like atmosphere and let J Salon be your sanctuary for luxurious and effective skincare.</p>
        <button class="btn btn-primary">Book Now</button>  
        </div>
            <div class="col-lg-6">
                <img src="{% static 'image/12.jpg'%}" alt="img" width="100%" height="400px">
        
            
           
        </div>
        

    
  </div>


























{% endblock %}