{% extends 'base.html'%}
{% load static %}
{% block content%}

<div class="row ">
    <div class=" mainclass col-lg-12">
        <h1>Salon Benefits at Juice</h1>
        <p>Perfect to try something new!</p>
        
    </div>

</div>
<!-- row end -->

<div class=" toproll row">
    <div class=" topclass col-lg-6"data-aos="fade-right">
        
        <h2>At Juice, we offer a range of special<br/>
            promotions & benefits designed to<br/>
            enhance your beauty experience.</h2>
            <p>Enjoy personalized consultations, expert care, valuable<br/>
                 package & membership deals & exclusive monthly offers<br/>
                 ensuring your each visit is rewarding & experience - top-<br/>
                 notch!</p>
    </div>
    <div class="col-lg-6" data-aos="fade-right">
        <img src="{% static 'image/gift.jpg'%}">

    </div>

</div>
<!-- row end -->
<div class="row scan">
    <div class="col-lg-4" data-aos="flip-left">
        <img src="{% static 'image/membership.jpg'%}"class="w-100">

    </div>
    
    <div class="col-lg-4" data-aos="flip-left">
        <img src="{% static 'image/gifts.jpg'%}"class="w-100">

    </div>
    <div class="col-lg-4" data-aos="flip-left">
        <img src="{% static 'image/duty.jpg'%}"class="w-100">

    </div>

</div>
<!-- row end -->
<div class="row design2">
    <div class="col-lg-12">
        <h1>Signature Packages</h1>

    </div>
</div>
<!-- row end -->
<div class=" row marg ">
    <div class="  col-lg-4 ">
        <div class="pc">
        <h4>Basic</h4>
        <div>Pay</div>
        <span>₹11,000</span>
        <p>Get benefits worth Rs 14,300 (Save Rs
            <br/> 3,300 - valid for 6 months)</p>
    </div>
</div>
    <div class="  col-lg-4 px-2">
        <div class="pc">
        <h4>Prime</h4>
        <div>Pay</div>
        <span>₹21,000</span>
        <p>Get benefits worth Rs 28,350 (Save Rs
            <br/> 7,350 - valid for 10 months)</p>

    </div>
</div>
    <div class="col-lg-4">
        <div class="pc">
        <h4>Silver</h4>
        <div>Pay</div>
        <span>₹42,000</span>
        <p>Get benefits worth Rs 28,350 (Save Rs
            <br/> 7,350 - valid for 10 months)</p>

    </div>
</div>

</div>
<!-- row end -->
 <div class="row marg pt-3">
    <div class="col-lg-4">
        <div class="pc">
        <h4>Gold</h4>
        <div>Pay</div>
        <span>₹75,000</span>
        <p>Get benefits worth Rs 1,08,750 (Save Rs
            <br/> 33,750 - valid for 18 months)</p>

    </div>
    </div>
    <div class="col-lg-4">
        <div class="pc">
        <h4>Platinum</h4>
        <div>Pay</div>
        <span>₹1,00,000</span>
        <p>Get benefits worth Rs 1,50,000 (Save Rs
            <br/> 50,000 - valid for 18 months)</p>
    </div>
    </div>

 </div>
 <!-- row end -->
  <div class="row spa">
    <div class="col-lg-12">
        <h1>Enquire Today At Your Nearest Juice Salon</h1>

    </div>

  </div>
  <!-- row end -->
   <div class="row colle">
    <div class="col-lg-12">
        <h1>Upto 40% off on</h1>
        <h1>Hair Botox every Tuesday & Thursday</h1>
        
        <a href="/book-appointment" class="btn btn--tra-white hover--white border-white mt-3">Book an Appointment</a>

    </div>

   </div>





















{% endblock %}