{% extends 'base.html'%}
{% load static %}
{% block content%}
   
<!-- row end -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'image/juice.jpg'%}" class="d-block w-100" alt="...">
    
    <div class="carousel-caption d-none d-md-block ">
      <h5>JOIN THE JUICE SALON <br>LEGACY</h5>
      <p>OWN THE FASTEST GROWING SALON CHAIN, AWARDED AS TOP 100 <br>FRACHIES IN INDIA</p>
      <button href="/contact" class="btn btn-primary">EXPLORE APPORTUNITIES</button>
    </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'image/belle.jpg'%}" class="d-block w-100" alt="...">
    
    <div class="carousel-caption d-none d-md-block">
      <h5>WELCOME TO JUICE SALON</h5>
      <p>CLASSIC BEAUTY WITH A MODERN TOUCH</p>
      <a href="/services" class="btn btn--tra-white hover--white border-white  mt-3" style="color: white;">VIEW SALON MENU</a>
      
    </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'image/JUICE 1.jpg'%}" class="d-block w-100" alt="...">
    
    <div class="carousel-caption d-none d-md-block ">
      <h5>SHOP LUXURY HAIRCARE & <br>BEAUTY PRODUCTS</h5>
      <p>EXPLORE TOP BRANDS</p>
      <a href="/explore product" class="btn btn--tra-white hover--white border-white  mt-3" style="color: white;">EXPLORE PRODUCT</a>
      
  </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<!-- row end -->
<div class=" row container p-4 mt-5">
  <div class=" goog col-lg-8 p-3 px-5"id="good">
    <h1 class="display-4  fs-1 ">Indulge in the <br>Extraordinary</h1>
    <p class="mt-3">JUICE is one of India trendiest salon chains with 40+ branches across India, 
      with a widespread presence across metros and mini-metros catering to the beauty needs of ardent fashion followers, trendsetters and celebrities. Being in existence for almost two decades, 
      JUICE has become a leader and benchmark in the hair, beauty and nail care industry</p>
      <a href="#"class=" btn btndiscover mt-3">Discover more</a>
      </div>

  <div class="col-lg-4" id="msg">
    <img src="{% static 'image/img.jpg'%}">

  </div>
  </div>
  <!-- row end -->
   <div class="container-fluid text-center">
    <h4 class="p-5">Indulge Yourself</h4>
  </div>
  <div class="container-fluid text-center">
    <h1>Your Palace of Beauty</h1>

  </div>
   <!-- row end -->
   <div class="row  goog text-center p-5" id="product">
    <div class="col-lg-3">
      <img src="{% static 'image/woman-with-long-hair.png'%}" >
    <h2>Hair</h2>
    

      <p class="p-2">Hair stylists at JUICE believe that
         beauty is different for every person 
         which is why they do not mass produce but
          tailor-make a look, keeping in mind an individual's features when conceiving their cut and colour.</p>
    </div>
    
      <div class="col-lg-3">
        <img src="{% static 'image/chair.png'%}">
      <h2>Cosmetology</h2>
      
        <p class="p-2">Hair stylists at JUICE believe that
           beauty is different for every person 
           which is why they do not mass produce but
            tailor-make a look, keeping in mind an individual's features when conceiving their cut and colour.</p>
      </div>
      
        <div class="col-lg-3">
          <img src="{% static 'image/skincare.png'%}">
        <h2>Make-up</h2>
       
        
          <p class="p-2">Hair stylists at JUICE believe that
             beauty is different for every person 
             which is why they do not mass produce but
              tailor-make a look, keeping in mind an individual's features when conceiving their cut and colour.</p>
        </div>
       
          <div class="col-lg-3">
            <img src="{% static 'image/nails-polish.png'%}">
          <h2>Nails</h2>
          
            <p class="p-2">Hair stylists at JUICE believe that
               beauty is different for every person 
               which is why they do not mass produce but
                tailor-make a look, keeping in mind an individual's features when conceiving their cut and colour.</p>
          </div>
   </div>
   
   <!-- row end -->
   <div class="text-center bannerbg">
  
      
    </div>
    <div class="row bg-white p-5 text-center me-5">
      <div class="col-lg-12">
        <h1 class="fixer">Our Gallery</h1>
      </div>
    </div>
        

  <div class="col-lg-12 center">
  
    <div>
    <h1 class="text-center fixer col text-white">Upto 40% off on
     <br> Hair Botox every Tuesday & Thursday</h1>
      <a href="#"class="btn btn-dark mt-5 fs-4 link">Book an Appointment</a>
</div>
  </div>

   <!-- row end -->
    <div class="row">
      <h5 class="text-center pt-5"> Testimonials</h5>
    </div>
    <div class="row">
      <h1 class="text-center pt-4 fs-1">Comments & Reviews</h1>
    </div>
    <div class=" osm container text-center">
      <div class="row mx-auto my-auto justify-content-center" id="star">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" >
            <div class="carousel-item active">
              <div class="col-md-3 px-4">
                <div class="card">
                  <div class="card-img">
                    <img src="{% static 'image/rating.png'%}" height="350px" >
                    <p>
                      Absolutely LOVE the services here, 
                      everything starting from fixing the 
                      appointment to getting the service is top notch. 
                      Can't wait to come back!

                  </p>
                  <h3>meena kapoor</h3>
                  </div>
                 
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3 px-4">
                <div class="card">
                  <div class="card-img">
                    <img src="{% static 'image/rating.png'%}"  height="350px" >
                    <p>
                      I had a fantastic experience at Juice Salon! The staff is truly amazing, providing exceptional service in a caring and professional environment. I was impressed by their attention to detail and genuine care. Highly recommended!

                  </p>
                  <h3>Riya kapoor</h3>
                    <!-- <img src="https://via.placeholder.com/700x500.png/DDBEA9/333333?text=2" class="img-fluid"> -->
                  </div>
                 
              </div>
            </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3 px-4">
                <div class="card">
                  <div class="card-img">
                    <img src="{% static 'image/rating.png'%}" height="350px" >
                    <p>
                      I was staying at a hotel nearby and only spoke English so I was delighted that it was easy to communicate with all the staff. Mani, Pedi and hair curl- all were fantastic and so quick as they were able to do them all at once!

                  </p>
                  <h3>Jiya kapoor</h3>
                    <!-- <img src="https://via.placeholder.com/700x500.png/FFE8D6/333333?text=3" class="img-fluid"> -->
                  </div>
                 
              </div>
            </div>
            </div>

            <div class="carousel-item">
              <div class="col-md-3 px-4">
                <div class="card">
                  <div class="card-img">
                    <img src="{% static 'image/rating.png'%}" height="350px" >
                    <p>I had a wonderful time at Juice Salon! The staff is genuinely great, offering superb services in a warm and welcoming setting. Their care and attention to detail really stood out to me. Highly advisable.

                    </p>
                    <h3>Teena Khanna</h3>
                    <!-- <img src="https://via.placeholder.com/700x500.png/B7B7A4/333333?text=4" class="img-fluid"> -->
                  </div>
                 
              </div>
            </div>
            </div>

            <div class="carousel-item">
              <div class="col-md-3 px-4">
                <div class="card">
                  <div class="card-img">
                    <img src="{% static 'image/rating.png'%}" height="350px" >
                    <p> I had a wonderful time at Juice Salon! The staff is genuinely great, offering superb services in a warm and welcoming setting. Their care and attention to detail really stood out to me. Highly advisable.

                    </p>
                    <h3>kashish Mishra</h3>
                    <!-- <img src="https://via.placeholder.com/700x500.png/A5A58D/333333?text=5" class="img-fluid"> -->
                  </div>
                 
              </div>
            </div>
            </div>

            <div class="carousel-item">
              <div class="col-md-3 px-4 ">
                <div class="card">
                  <div class="card-img">
                    <img src="{% static 'image/rating.png'%}"  height="350px" >
                    <p>I had a wonderful time at Juice Salon! The staff is genuinely great, offering superb services in a warm and welcoming setting. Their care and attention to detail really stood out to me. Highly advisable.

                    </p>
                    <h3>Raveena Kapoor</h3>
                    <!-- <img src="https://via.placeholder.com/700x500.png/6B705C/eeeeee?text=6" class="img-fluid"> -->
                  </div>
                  
              </div>
            </div>
          </div>
          </div>

          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>		
    </div>
    <div id="cream">
      <h5 class="text-center"> Our Locations </h5>
    </div>
    <div id="light">
      <h1 class="text-center pt-4 fs-1">Welcome to Juice</h1>
    </div>
    <section class="pt-5">
      <div class="container">
          <div class="row">
              <div class="col-6">
                  <h3 class="mb-3"></h3>
              </div>
              <div class="col-6 text-right">
                  <a class="btn btn-primary mb-3 mr-1" 
                     href="#carouselExampleIndicators2"
                     role="button"
                      data-slide="prev">
                      <i class="fa fa-arrow-left"></i>
                  </a>
                  <a class="btn btn-primary mb-3"
                     href="#carouselExampleIndicators2"
                     role="button"
                     data-slide="next">
                      <i class="fa fa-arrow-right"></i>
                  </a>
              </div>
              <div class="col-12">
                  <div id="carouselExampleIndicators2" 
                       class="carousel slide"
                       data-ride="carousel">

                      <div class=" car carousel-inner">
                          <div class="carousel-item active">
                              <div class="row text-center" id="text1">

                                  <div class="col-md-4 mb-3">
                                      <div class="card" >
                                        <img src="{% static 'image/pune.jpg'%}"alt="100%*280">
                                          <div class="card-body">
                                              <h4 class="card-title">
                                                Varanasi</h4>
                                                <button class="btn btn-primary">Book Now</button>

                                          </div>
                                      </div>
                                  </div>
                                  <div class=" car col-md-4 mb-3">
                                      <div class="card">
                                        <img src="{% static 'image/indore.jpg'%}" alt="100%*280">
                                          <div class="card-body">
                                              <h4 class="card-title">Prayagraj</h4>
                                              <button class="btn btn-primary">Book now</button>

                                          </div>
                                      </div>
                                  </div>
                                  <div class=" car col-md-4 mb-3">
                                      <div class="card">
                                        <img src="{% static 'image/tri.jpg'%}" alt="100%*280">
                                          <div class="card-body">
                                              <h4 class="card-title">Kolhapur</h4>
                                              <button class="btn btn-primary">Book now</button>

                                            

                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="row" id="text1">

                                  <div class=" car col-md-4 mb-3">
                                      <div class="card">
                                        <img src="{% static 'image/pune.jpg'%}" alt="100%*280">
                                        <div class="card-body">
                                            <h4 class="card-title">Pune</h4>
                                            <button class="btn btn-primary">Book now</button>
                                          </div>

                                      </div>
                                  </div>
                                  <div class=" car col-md-4 mb-3">
                                      <div class="card">
                                        <img src="{% static 'image/Kolkata.jpg'%}" alt="100%*280">
                                        <div class="card-body">
                                            <h4 class="card-title">Kolkata</h4>
                                            <button class="btn btn-primary">Book now</button>

                                          </div>
                                      </div>
                                  </div>
                                  <div class=" car col-md-4 mb-3">
                                      <div class="card">
                                        <img src="{% static 'image/lucknow.jpg'%}" alt="100%*280">
                                        <div class="card-body">
                                            <h4 class="card-title">Lucknow</h4>
                                            <button class="btn btn-primary">Book now</button>

                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="row" id="text1">

                                  <div class=" car col-md-4 mb-3">
                                      <div class="card">
                                        <img src="{% static 'image/Vijaywada.jpg'%}" alt="100%*280">
                                        <div class="card-body">
                                            <h4 class="card-title">Vijaywada</h4>
                                            <button class="btn btn-primary">Book now</button>

                                          </div>

                                      </div>
                                  </div>
                                  <div class=" car col-md-4 mb-3">
                                      <div class="card">
                                        <img src="{% static 'image/indore.jpg'%}" alt="100%*280">
                                        <div class="card-body">
                                            <h4 class="card-title">Delhi</h4>
                                            <button class="btn btn-primary">Book now</button>
                                          </div>
                                      </div>
                                  </div>
                                  <div class=" car col-md-4 mb-3">
                                      <div class="card">
                                        <img src="{% static 'image/mumbai.jpg'%}" alt="100%*280">
                                        <div class="card-body">
                                            <h4 class="card-title">Mumbai</h4>
                                            <button class="btn btn-primary">Book now</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <div class="text-center" id="news">
    <h5>FROM THE BLOG</h5>
  </div>
  <div Class="text-center" id="spac">
    <h1>Our Latest News</h1>

  </div>
<div class=" you row">
  <div id="carouselExampleControls123" class="carousel " >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <img src="{% static 'image/82cc.jpg'%}" class="d-block w-100"  height="450px" alt="...">
          <div class="card-body">
              <h5 class="card-title">Top 5 Sassy Hairstyles You Need to Try in 2021</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="{% static 'image/7bb.jpeg'%}" class="d-block w-100" alt="...">
          <div class="card-body">
              <h5 class="card-title">Can Hair Spa Help Reduce Hair Fall?</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="{% static 'image/1aa.jpg'%}" class="d-block w-100" height="450px" alt="...">
          <div class="card-body">
              <h5 class="card-title"> 3 Salon Treatments for Frizzy Hair
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
      </div>
      </div>
      <!-- <div class="carousel-item">
        <div class="card">
          <img src="{% static 'image/mumbai.jpg'%}" class="d-block w-100" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="{% static 'image/mumbai.jpg'%}" class="d-block w-100" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls123" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls123" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

  <!-- <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-xs-4"><a href="#1"> <img src="{% static 'image/mumbai.jpg'%}"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"> <img src="{% static 'image/mumbai.jpg'%}"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"> <img src="{% static 'image/mumbai.jpg'%}"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"> <img src="{% static 'image/mumbai.jpg'%}"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"> <img src="{% static 'image/mumbai.jpg'%}"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"> <img src="{% static 'image/mumbai.jpg'%}"></a></div>
          </div>
         
          
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?cycling"></a></div>
          </div>
          
          
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div> -->

<div class=" easy row ">
  <div class="col-lg-8 offset-lg-2 control" id="pass">
    <h1>Join Our Newsletter</h1>
    <p>Receive beauty and wellness insights, events and latest offers!</p>
    <form>
      <!-- <div>
        <label>Email</label> -->
        <input type="Email" placeholder="Enter the email" required/>
        <!-- <span class="input-group-btn"> -->
          <button type="submit" class="btn btn">Subscribe</button>
        
        </div>


    </form>
  </div>





{% endblock %}