{% extends 'base.html'%}
{% load static %}
{% block content%}




<div class=" design row">
    <div class="col-lg-12">
        <h1>Services</h1>
        <p>Unwind with style</p>

    </div>

</div>
<!-- row end -->
 <div class="row ">
    <div class=" met col-lg-12 text-center p-5">
        <h2>HAIR</h2>
        <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Hair styling
                </button>
            </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="d-flex justify-content-around flex-column gap-2">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                             Haircuts(Male)
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">starting from 880/-</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                             Haircuts(Female)
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">starting from 1120/-</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            StraightBlowdry
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">Starting from 640/-</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                             Ironing
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">Starting from 960/-</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Tonging
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">starting from 960/-</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Hairwash 
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">starting from 450/-</span>
                            </li>
                          </ul>
                    </div>
                </div>
            
        </div>
        <!-- row end -->
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Mens styling
              </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <ul class="d-flex justify-content-around flex-column gap-2">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Beard Trim
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹480/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Beard style
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹480/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Beard Color
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹640/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                      Moustache Color
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹320/-</span>
                      </li>
                     
                    </ul>
              </div>
          </div>
          </div>
          <!-- row end -->

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingfour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                  Hair Colors
                </button>
            </h2>
            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="d-flex justify-content-around flex-column gap-2">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        Root Touch Up
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">starting from ₹1440/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Crown Root touchup
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">starting from ₹1240/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Global-Men
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">	
                            starting from ₹1480/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Global-Women
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">	
                            starting from ₹3120/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Balayage/Ombre
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">starting from ₹5600/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Highlights
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">starting from ₹6160/-</span>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
        <!-- row end -->
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingfive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                Hair Treatments
              </button>
          </h2>
          <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <ul class="d-flex justify-content-around flex-column gap-2">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                      Frizz reduction<br>
                      (KeratinTreatment)
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹6800/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                      Manageable,healthy looking hair<br>
                        (BotoxHairTreatment)
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹7120/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                      Repair damaged Hair
                        (HairBondBuildingTreatment)
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹1840/-</span>
                      </li>
                      
                    </ul>
              </div>
          </div>
        </div> 
         <!--row end  -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingsix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
               Hair Concerns
              </button>
          </h2>
          <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <ul class="d-flex justify-content-around flex-column gap-2">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        For Rough Hair<br>
                        (LorealClassicHairspa)
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹1500/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        For Dry Hair<br>
                        (LorealDeepNourishingHairSpa)
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹1500/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        For Frizz Control<br>
                        (LorealFrizzControlHairSpa)
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹1500/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        For color protection<br>
                        (LorealColorSealingHairSpa)
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹1500/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        For thinned ends<br>
                        (LorealLengthsFillerHairSpa)
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹1500/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        For hair strength & shine<br>
                        (LorealMetalDX)
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹1500/-</span>
                      </li>
                    </ul>
              </div>
          </div>
    </div>
  </div>
    </div>
</div>


   





<!-- row end -->
 <div class="row">
    <div class=" met col-lg-12 text-center p-5 ">
        <h2>SKIN & BEAUTY</h2>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingseven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                  Skincare 
              </button>
          </h2>
          <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <ul class="d-flex justify-content-around flex-column gap-2">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cleanup
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹1480/-</span>
                      </li>
                      
                     
                    </ul>
              </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingeight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                  Skin Concerns
                </button>
            </h2>
            <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="d-flex justify-content-around flex-column gap-2">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          For Skin Brightening
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">starting from ₹480/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Beard style
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">starting from ₹480/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Beard Color
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">starting from ₹640/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        Moustache Color
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">starting from ₹320/-</span>
                        </li>
                       
                      </ul>
                </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     Skin Essentials
                  </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <ul class="d-flex justify-content-around flex-column gap-2">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Beard Trim
                            <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                            <span class="badge bg-primary rounded-pill">starting from ₹480/-</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Beard style
                            <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                            <span class="badge bg-primary rounded-pill">starting from ₹480/-</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Beard Color
                            <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                            <span class="badge bg-primary rounded-pill">starting from ₹640/-</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                          Moustache Color
                            <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                            <span class="badge bg-primary rounded-pill">starting from ₹320/-</span>
                          </li>
                         
                        </ul>
                  </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingnine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                        Makeup
                    </button>
                </h2>
                <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="d-flex justify-content-around flex-column gap-2">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Beard Trim
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">starting from ₹480/-</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Beard style
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">starting from ₹480/-</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Beard Color
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">starting from ₹640/-</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            Moustache Color
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">starting from ₹320/-</span>
                            </li>
                           
                          </ul>
                    </div>
                </div>
              </div>      
                 

    </div>
      </div>
</div>
    </div>
 </div>










 <!-- row end -->


 <div class="row">
    <div class=" met col-lg-12 text-center p-4">
        <h2>NAILS</h2>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseten">
                Nails Essentials
              </button>
          </h2>
          <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <ul class="d-flex justify-content-around flex-column gap-2">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Manicure
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹480/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Pedicure
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹480/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Gel polish
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹640/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                      nails extension
                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                        <span class="badge bg-primary rounded-pill">starting from ₹1320/-</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Nail Art
                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                          <span class="badge bg-primary rounded-pill">starting from ₹2320/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          cat eye
                            <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                            <span class="badge bg-primary rounded-pill">starting from ₹1320/-</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            chrome
                              <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                              <span class="badge bg-primary rounded-pill">starting from ₹2320/-</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Ombre
                                <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                                <span class="badge bg-primary rounded-pill">starting from ₹1320/-</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                               stick-on-nails
                                  <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                                  <span class="badge bg-primary rounded-pill">starting from ₹960/-</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                Refills
                                    <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                                    <span class="badge bg-primary rounded-pill">starting from ₹820/-</span>
                                  </li>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Tip Repair
                                      <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                                      <span class="badge bg-primary rounded-pill">starting from ₹420/-</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      Hand/foot massage
                                        <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                                        <span class="badge bg-primary rounded-pill">starting from ₹400/-</span>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Nails-cut
                                          <div class="" style="width: 80%; border-bottom: 2px dotted black;"> </div>
                                          <span class="badge bg-primary rounded-pill">starting from ₹220/-</span>
                                        </li>
                     
                    </ul>
              </div>
          </div>
          
           
                       

    </div>
    </div>
 </div>
 <!-- row end -->
  <div class="row gulab text-center maker1">
    <div class="col-ld-12">
        <h3>*Prices mentioned above are Member prices & inclusive of GST</h3>

    </div>

  </div>
  <!-- row end -->
  <div class="row sound">
    <div class="col-lg-12">
        <h1>Upto 40% off on</h1>
        <h1>Hair Botox every Tuesday & Thursday</h1>
        
        <a href="/book-appointment" class="btn1 btn--tra-white hover--white border-white mt-3">Book an Appointment</a>

    </div>

  </div>

{% endblock %}